<nav class="navbar">
  <div class="logo">Codepso Legal</div>
  <!--<input type="checkbox" id="menu-toggle" />-->
  <label for="menu-toggle" class="menu-icon">☰</label>
  <ul class="menu">
    <li><a href="/">Inicio</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
